<div class="form-group">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input required value="<%= article.title %>" placeholder="Title" type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"><%= article.description %></textarea>
    </div>
    <div class="mb-3">
        <label for="markdown" class="form-label">Markdown</label>
        <textarea class="form-control" id="markdown" name="markdown"><%= article.markdown %></textarea>
    </div>
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
